<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Untitled" %></title>
  <%= stylesheet_link_tag  "application", media: "all" %>
  <%= javascript_include_tag "application", :async => true %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <div id="container">

    <%= render :partial => "shared/navbar" %>

    <p style="color: red"><%=	 flash[:error] %></p>
    <p style="color: green"><%=	 flash[:success] %></p>

        <div class="row-fluid">
          <div class="span6 offset2">
                <%= yield %>
          </div>
        </div>
      <h3> --------------------footer---------------------</h3>
  </div>
</body>
</html>

